<div class="row title-bar">
  <ul>
    <li>
      <a class="menu-item" [routerLink]="['/news', 'topstories']" routerLinkActive="active"> Top Stories</a>
    </li>
    <li>
      <a class="menu-item" [routerLink]="['/news', 'newstories']" routerLinkActive="active"> New Stories</a>
    </li>
    <li>
      <a class="menu-item" [routerLink]="['/news', 'jobstories']" routerLinkActive="active"> Jobs </a>
    </li>
    <li>
      <a class="menu-item" [routerLink]="['/news', 'askstories']" routerLinkActive="active"> Ask HN</a>
    </li>
    <li>
      <a class="menu-item" [routerLink]="['/news', 'showstories']" routerLinkActive="active"> Show HN</a>
    </li>
  </ul>
</div>